.history {
  display: flex;
  margin: 0 auto;
  padding: 10px;
  width: 50%;
  align-items: center;
  justify-content: center;
}

.select-tag {
  line-height: normal;
}
.text-form {
  width: 30%;
  border-radius: 10px;
}

.input-text {
  width: 150%;
  border-radius: 10px;
}

.input-hour {
  width: 50%;
  border-radius: 10px;
}
