.Filter-container {
  text-align: center;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
  box-shadow: 1px 1px 1px;
  border-radius: 5px;
  padding: 20px;
  width: 80%;
  height: 30%;
}

.Filter-container .showAll {
  position: absolute;
  display: inline;
  background-color: blue;
  color: white;
  top: 20%;
  left: 0;
}
.Filter-container .showInvest {
  position: absolute;
  display: inline;
  background-color: blue;
  color: white;
  top: 20%;
  left: calc(100% / 3 * 1);
}
.Filter-container .showExpense {
  position: absolute;
  border-radius: 0%;
  display: inline;
  background-color: blue;
  color: white;
  top: 20%;
  left: calc(100% / 3 * 2);
}
.Filter-container .showHealing {
  position: absolute;
  display: inline;
  background-color: blue;
  color: white;
  top: 20%;
  left: calc(100% / 3 * 2.5);
}
