.Filter-container {
  text-align: center;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
  box-shadow: 1px 1px 1px 1px;
  border-radius: 5px;
  padding: 10px;
  width: 80%;
  height: 30%;
}

.Filter-container .showAll {
  display: inline;
  background-image: linear-gradient(
    to top,
    #c4c5c7 0%,
    #dcdddf 52%,
    #ebebeb 100%
  );
  /* color: white; */
}
.Filter-container .showInvest {
  display: inline;
  /* color: white; */
  background-image: linear-gradient(-225deg, #7de2fc 0%, #fffeff 100%);
}
.Filter-container .showExpense {
  display: inline;
  /* color: white; */
  background-image: linear-gradient(to top, #feada6 0%, #f5efef 100%);
}
.Filter-container .showHealing {
  display: inline;
  /* color: white; */
  background-image: linear-gradient(
    -225deg,
    #39f3bb 0%,
    #90f9c4 48%,
    #dfffcd 100%
  );
}
