.SignedIn {
  list-style: none;
  color: white;
  display: flex;
  justify-content: flex-end;
}
.SignedIn li {
  color: white;
  font-size: 10px;
}
.SignedIn li button {
  color: #c0c0c0;
  border: 1px solid;
}
